<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Jeopardy API</title>
      ${analytics}
   </head>
   <body>
      <h1>Welcome to the Jeopardy API</h1>
      <h3>Over 200,000 Jeopardy Questions.</h3>
      <ul>
         <li>
            <a href="/api/random">/api/random</a>
         </li>
      </ul>
      <ul>
         <li>
            <a href="/api">/api</a>
         </li>
         <li>
            <a href="/api/rounds">/api/rounds</a>
         </li>
         <li>
            <a href="/api/categories">/api/categories</a>
         </li>
         <li>
            <a href="/api/values">/api/values</a>
         </li>
      </ul>
      <ul>
         <li>
            <a href="/api/shows">/api/shows</a>
         </li>
         <li>
            <a href="/api/shows/3147">/api/shows/[show number]</a>
         </li>
         <li>
            <a href="/api/shows/3147/2">/api/shows/[show number]/[round number (1-3)]</a>
         </li>
         <li>
           <a href="/api/shows/date/2006">/api/shows/date/[year]</a>
         </li>
         <li>
            <a href="/api/shows/date/2006/01">/api/shows/date/[year]/[month]</a>
         </li>
      </ul>
   </body>
</html>